body{
   margin: 0; 
}/* здесь не сработал margin почему? */

.container { 
 width:1280px;
 margin: 0 auto;
 border: 1px solid black;
    background-color: red;
 }

/*.l-pading{
    padding:0 50px 0 50px;
}*/

.main-header{
   /* Style for "header-bg" */
width: 100%;
padding: 40px 30px 35px 30px;
box-sizing: border-box;
background-color: #445162;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;    
font-family: "Arial";
font-size: 20px;
font-weight: 400;
line-height: 36px; 


/* Style for "Put on thi" */

}


.main-header:after {
    content: "";
    display:block;
    width: 100%;
    clear: both;
}  

.main-header-wrp{
   
    /*border: 1px solid red;*/
    width:465px; height: 220px;
    float: left;
    
}

.main-header-jpg{
    display: block;
    width: 470px; 
    min-height: 215px;
    background-color: white;
    float: right;
    
}

.main-header-title{
    margin: 0 0 0 0;
    
}
.main-header-title {
    /* Style for "Product na" */
margin 0 0 50px 0;
width: 375px;
height: 45px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;
font-family: "Arial";
font-size: 60px;
font-weight: 400;
}

.main-header-list{
    padding: 0 0 50 85;
}

.main-header-list-item{
list-style-type: none;
position: relative;
}

.main-header-list-item:before{
    content: "";
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
    position: absolute;
    top: 8px;
    left: -32px;
}

.about-product{
    /* Style for "About your" */
width: 255px;
height: 30px;
color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 35px;
padding:50px 0 0 50px; 
margin: 0;

}

.about-product:before{
     position: absolute;
}
.video-about{
    position: relative;
    bottom: 125px;/*Подскажите как здесь надо было обойтесь без position за ранее спасибо за ответ )*/
    right:50px;
    
}

.main-about{
    width: 1280px;
    height: 325px;
}

.main-about:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
   
}

.about-p{
    /* Style for "Lorem ipsu" */
width: 650px;
height: 65px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
float: left;
position: relative;
}

.video-about{
/* Style for "video" */
width: 430px;
min-height: 245px;
background-color: #445161;
float: right;
display: block;

}

.main-pluses{
    width: 100%;
    min-height: 420px;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.main-pluses:after{
    content: "";
    display:block;
    width: 100%;
    clear: both;
}

.pluses{
    display: block;
    margin: 0 0 24px 413px;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68,81,97);
    line-height: 1.2;
}
/*
.pluses-item{
    width: 540px;
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
    float: left;
    position: relative;
    
 Style for "Delectus d" 
width: 526px;
height: 63px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.pluses-item{
    width: 540px;
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    float: right;
    position: relative;
    
 Style for "Delectus d" 
width: 526px;
height: 63px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}*/

.pluses-item {
  width: 540px;
  margin: 0;
  padding: 0 0 0 46px;
  list-style-type: none;
  float: left;
 
}

.pluses-item:nth-child(3){
  float: right;
}

.pluses-item-list {
  margin: 0 0 40px 0;
  position: relative;
}

.pluses-item:nth-child(2) > .dignity-list-item:nth-child(3),
.pluses-item:nth-child(3) > .dignity-list-item:nth-child(3) {
  margin:0;
}
.pluses-item:nth-child(3){
  float: right;
}

.pluses-item-list:before {
    content: "+";
    display:block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px ;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 10px;
    left: -41px;
}





/*.pluses-item-list-left{

}*/
/*.pluses-item-list-right{

}*/

/*.pluses-item-list-right{
    position: relative;
    bottom: 80px;
}*/

/* подскажите здесь я убираю высоту текст снизу прилипается ) */




